.MainHeader__navCtn {
	width: 100%;
	display: grid;
	padding: 1.5rem 0;
	border-bottom: 1px solid #aaa;
	box-shadow: rgba(10, 10, 10, 0.3) 0 2px 0 0;
}

.MainHeader__navBody {
	width: 92%;
	display: flex;
	justify-self: center;
	gap: 1.5rem;
}

.MainHeader__link {
	color: #4a4a4a;
}
