.Survey__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    padding-bottom: 2rem;
    border-bottom: 5px solid red;
}

.Survey__col {
    width: 96%;
    display: grid;
    justify-self: center;
    padding-top: 1.5rem;
}

.Survey__col > input {
    width: 50%;
}

.Survey__columnOne {
    grid-template-rows: 50% 50%;
}

.Survey__columnN {
    grid-template-rows: 15% 85%;
}